<!-- LİSTE -->

{% extends 'layout.html' %}

{% block content %} 

    {% if personels %}
        
            <div class="container">
                    <table border=2  bordercolor="black" >
                            <tr>
                            <td width="400">İsim</td>
                            <td width="400">Soyisim </td>
                            <td width="400">Email</td>
                            <td width="100">Düzenle</td>
                            <td width="100">Sil</td>
                            </tr>
                            {% for personel in personels %}
                            <tr>
                            <td> {{ personel.name }} </td>
                            <td> {{ personel.surname }} </td>
                            <td> {{ personel.email }} </td>                            
                            <td> <a href="{% url 'duzenle' pk=personel.pk %}" button class="btn btn-primary btn-lg btn-block" type="button">Düzenle</button> </td>
                            <td> <a href="{% url 'sil' pk=personel.pk %}" button class="btn btn-primary btn-lg btn-block" type="button">Sil</button></td>
                            </tr>
                            {% endfor %}
                    </table>
            </div>
  

    {% else %}
        <div class="alert alert-warning">
            <p>
                No Personel
            </p>
        </div>
    {% endif %}

{% endblock %}