{% extends 'layout.html' %}
{% block content %}
<form class="personel-form" method="POST" > {% csrf_token %}
   <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Adınız</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ personel.name }}" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="surname">Soyadınız</label>
            <input type="text" class="form-control" name="surname" value="{{ personel.surname }}" required>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" name="email" value="{{ personel.email }}" placeholder="you@example.com" required>
        </div>
        <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Kaydet</button>
</form>
{% endblock %}