{% extends 'layout.html' %}

{% block content %}
<form class="personel-form" action="{% url 'duzenlePost' %}" method="POST" > {% csrf_token %}
  {{ form.as_p }}
        <!-- <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name">Adınız</label>
            <input type="text" class="form-control" name="name" value="{{ personels.name }}" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="surname">Soyadınız</label>
            <input type="text" class="form-control" name="surname" value="{{ personels.surname }}" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" name="email" value="{{ personels.email }}" placeholder="you@example.com" required>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <hr class="mb-4">
 </form> -->
        <button class="btn btn-primary btn-lg btn-block" type="submit">Kaydet</button>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Sil</button>
     


{% endblock %}